#root {
  width: 100%;
}
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}
.grid-container {
  display: grid;
  grid-template-rows: 7rem repeat(3, 1fr) 10rem;
  grid-template-columns: repeat(5, 1fr);

  grid-template-areas:
    "header header header header header"
    "aside main main main main"
    "aside main main main main"
    "aside main main main main"
    "aside main main main main";
  min-height: 100vh;
}
.about-me {
  text-align: left;
}
body {
  margin: 0rem;
  padding: 0rem;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  background: rgb(232, 163, 255);
  background: linear-gradient(
    90deg,
    rgba(232, 163, 255, 1) 0%,
    rgba(255, 205, 245, 1) 35%,
    rgba(255, 205, 245, 1) 63%,
    rgba(232, 163, 255, 1) 100%
  );
  background: url("../src/assets/sunset.avif") no-repeat center center fixed;
  background-size: cover;
}
header {
  grid-area: header;
  margin: 0rem;
  padding: 2rem;
  color: #ffffff;
}
header h1 {
  display: inline-flex;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 0.4rem;
  padding-right: 1rem;
  margin: 0rem;
  font-weight: bold;
  color: #6bd0ff;
  background-color: #00000085;
  border-radius: 25px;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.white-line {
  margin: 0;
  border: none;
  height: 0.1rem;
  display: block;
  background-color: rgb(110, 110, 110);
  width: 100%;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
h2 {
  color: rgb(232, 163, 255);
  color: linear-gradient(
    90deg,
    rgba(232, 163, 255, 1) 0%,
    rgba(255, 205, 245, 1) 35%,
    rgba(255, 205, 245, 1) 63%,
    rgba(232, 163, 255, 1) 100%
  );
}
aside {
  position: sticky;
  top: 0px;
  background-color: #23272a;
  color: #ffffff;
}
.aside-sticky {
  position: sticky;
  top: 5%;
  margin-left: 5%;
  margin-right: 2.5%;
}
aside {
  grid-area: aside;

  position: sticky;
  top: 0px;
  background-color: #23272a9d;
  color: #ffffff;
}
aside .aside-nav ul {
  margin: 0rem;
  padding: 0rem;
}
.icons-size {
  width: 17px !important;
  height: 17px !important;
}
.weather-list {
  margin: 0;
  padding: 0;
}
aside h3 {
  margin-bottom: 0.5rem;
}
main {
  grid-area: main;
  background-color: #2c2f33be;
  width: 100%;
  height: auto;
  color: #ffffff;
}
main .main-header {
  margin-right: 3%;
  margin-left: 2.5%;
}
main #profile-pic {
}
.about-me-section {
  display: flex;
  flex-direction: column;
}
.text-pic {
  display: flex;
}
#profile-pic {
  width: 20%;
  height: 20%;
}
.about-me {
}
.about-me {
  max-width: 45rem;
}

main ul {
  padding-left: 0rem;
}
main li {
  margin-left: 5%;
  margin-right: 10%;

  text-align: center;
}
.school-container {
  /* border: 1px solid rgba(255, 255, 255, 0.596); */
  display: flexbox;
}
.xp-container {
  display: block;
}
.xpbar {
  display: inline-flex;
  margin-left: 0;
  height: 1.4rem;
  width: 80%;
  background-color: rgb(215, 239, 255);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0.3rem;
}
main h3 {
  margin-bottom: 0rem;
  display: block;
}

#xpbar-1 {
  background-color: rgb(11, 170, 83);
  height: 100%;
  width: 60%;
  border-radius: 0.3rem;
}
#xpbar-1,
#xpbar-2,
#xpbar-3,
#xpbar-4,
#xpbar-5 {
  background-color: rgb(11, 170, 83);
  height: 100%;
  width: 100%;
  border-radius: 0.3rem;
}
#xpbar-6 {
  background-color: rgb(11, 170, 83);
  height: 100%;
  width: 45%;
  border-radius: 0.3rem;
}

#xpbar-7,
#xpbar-8,
#xpbar-9 {
  background-color: rgb(48, 48, 48);
  height: 100%;
  width: 100%;
  border-radius: 0.3rem;
}
#xpbar-7 span,
#xpbar-8 span,
#xpbar-9 span {
  margin: 0;
  margin-left: 1rem;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.57);
}

#s-xpbar-1 {
  background-color: rgb(11, 170, 83);
  height: 100%;
  width: 60%;
  border-radius: 0.3rem;
}
#s-xpbar-1 {
  background-color: rgb(11, 170, 83);
  height: 100%;
  width: 55%;
  border-radius: 0.3rem;
}
#s-xpbar-2 {
  background-color: rgb(11, 170, 83);
  height: 100%;
  width: 50%;
  border-radius: 0.3rem;
}
#s-xpbar-3 {
  background-color: rgb(11, 170, 83);
  height: 100%;
  width: 40%;
  border-radius: 0.3rem;
}
#s-xpbar-4 {
  background-color: rgb(11, 170, 83);
  height: 100%;
  width: 46%;
  border-radius: 0.3rem;
}
#s-xpbar-5 {
  background-color: rgb(11, 170, 83);
  height: 100%;
  width: 76%;
  border-radius: 0.3rem;
}

#s-xpbar-6 {
  background-color: rgb(11, 170, 83);
  height: 100%;
  width: 48%;
  border-radius: 0.3rem;
}
#s-xpbar-7 {
  background-color: rgb(11, 170, 83);
  height: 100%;
  width: 70%;
  border-radius: 0.3rem;
}

.box-container {
  display: inline-flex;
  max-width: 24.3%;
}

.portfol-item {
  position: relative;
  background-color: #0222319c;
  padding: 2%;
  height: 16rem;
  width: 16rem;
  max-width: 16rem;
  border: 1px solid rgb(232, 163, 255, 15%);
  border-radius: 0.4rem;
  margin: 0.4rem;
  border-top: 2px solid black;
}

.portfol-text-bg {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.333858543417367) -12%,
    rgba(32, 16, 27, 1) 0%,
    rgba(32, 16, 27, 0.5383403361344538) 74%,
    rgba(255, 255, 255, 0) 100%
  );
  margin: 0px;
  padding: 0px;
  border-radius: 2px;
  width: auto;
}
.portfol-item a {
  background-color: rgba(0, 0, 0, 0.596);
  border-radius: 10px;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
#portfol-item-1 {
  background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#portfol-item-2 {
  background-image: url(./assets/atm2.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#portfol-item-3 {
  background-image: url("/src/assets/cards-game.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#portfol-item-4 {
  background-image: url("/src/assets/portfolio.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#portfol-item-5 {
  background-image: url("/src/assets/web-api.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#portfol-item-6 {
  background-image: url("/src/assets/Code-first.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#portfol-item-7 {
  background-image: url("/src/assets/roberto-nickson-5PQn41LFsQk-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.portfol-item {
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.692);
}
.portfol-item h3 {
  text-align: center;
  margin-top: 0%;
  padding: 0%;
}
.portfol-item p {
  text-align: center;
  margin-top: 2%;
}

.portfol-item p,
.portfol-item h3 {
  text-align: center;
}

.portfol-item p {
  /* height: 9rem; */
  font-weight: bold;
  color: white;
  text-shadow: -0.8px 0.8px 0 rgb(0, 0, 0), 0.8px 0.8px 0 black,
    0.8px 0.8px 0 black, 0.8px 0.8px 0 black;
}
.portfol-spacing {
  height: 3rem;
}
.portfol-list-container {
  display: flexbox;
}

.portfol-list {
  align-items: flex-end;
  padding: 0rem;
  margin: 0rem;
}
li {
  text-decoration: none;
  list-style: none;
}
#email {
  font-size: 18px;
}
#root a:hover {
  text-decoration: underline;
  color: rgb(201, 164, 255);
}
a,
a:visited,
a:active {
}
body a {
  text-decoration: none;
  color: rgb(201, 164, 255);
}

#time-till-graduation {
  color: rgb(57, 234, 113);
}

aside p a {
  margin-left: 2%;
}

.bar-container {
  display: flex;
  justify-content: space-around;
}
.eduskill-container {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin-bottom: 14rem;
}
@media only screen and (max-width: 1140px) {
  .portfol-text-bg p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 768px) {
  .portfol-text-bg p {
    font-size: 16px;
  }
  h3 {
    font-size: 16px;
  }
  .xpbar {
    width: 80%;
  }
  .box-container {
    display: flex;
    max-width: 100%;
  }
  .portfol-item p {
  }
  .portfol-box {
  }
  #footer-mail {
    font-size: 16px;
  }
  #profile-pic {
    width: 10rem;
    height: 10rem;
  }
}
/* Spinning logo test */
.spinning-logo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0px;
}

.spinning-logo img {
  height: 30px;
  width: 30px;
  animation: spin 6s linear infinite;
  opacity: 0.3;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 500px) {
  #footer-mail {
    font-size: 14px;
  }
  header h1 {
    font-size: 20px;
  }
  .portfol-text-bg p {
    font-size: 16px;
  }
  .about-me-section {
    flex-wrap: wrap;
  }
  .text-pic {
    flex-direction: column;
  }
  #profile-pic {
    width: 20%;
    height: 20%;
  }
  .about-me {
    max-width: 100rem;
  }
  .about-me-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  /* #profile-pic {
    width: 30rem;
    height: 30rem;
  } */

  .spinning-logo img {
    height: 20px;
    width: 20px;
  }
  .grid-container {
    grid-template-areas:
      "header header header header header"
      "aside aside main main main"
      "aside aside main main main"
      "aside aside main main main"
      "aside aside main main main";
  }
  li .github-url {
    display: inline-block;
    max-width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 12px;
  }
}
@media only screen and (max-width: 768px) {
  #footer-mail {
    font-size: 14px;
  }
  .about-me {
    text-align: center;
  }
  header h1 {
    font-size: 20px;
  }
  main #profile-pic {
    width: 60%;
  }
  .bar-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .eduskill-container {
    display: flex;
    flex-direction: column;
    width: 14rem;
  }
  .spinning-logo img {
    height: 20px;
    width: 20px;
  }
  .grid-container {
    grid-template-areas:
      "header header header header header"
      "aside aside main main main"
      "aside aside main main main"
      "aside aside main main main"
      "aside aside main main main";
  }

  li .github-url {
    display: inline-block;
    max-width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 12px;
  }
}
header h1 {
  /* ... */
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

header h1.show {
  opacity: 1;
}
