#root {
  width: 100%;
}
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}
.grid-container {
  display: grid;
  grid-template-rows: 7rem repeat(3, 1fr) 10rem;
  grid-template-columns: repeat(5, 1fr);

  grid-template-areas:
    "header header header header header"
    "aside main main main main"
    "aside main main main main"
    "aside main main main main"
    "aside main main main main";
  min-height: 100vh;
}
body {
  margin: 0rem;
  padding: 0rem;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  background: rgb(232, 163, 255);
  background: linear-gradient(
    90deg,
    rgba(232, 163, 255, 1) 0%,
    rgba(255, 205, 245, 1) 35%,
    rgba(255, 205, 245, 1) 63%,
    rgba(232, 163, 255, 1) 100%
  );
}
header {
  grid-area: header;
  background-color: rgba(104, 107, 107, 0);
  margin: 0rem;
  padding: 2rem;
  color: #ffffff;
}
header h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.white-line {
  margin: 0;
  border: none;
  height: 0.1rem;
  display: block;
  background-color: rgb(110, 110, 110);
  width: 100%;
}

h2 {
  color: rgb(232, 163, 255);
  color: linear-gradient(
    90deg,
    rgba(232, 163, 255, 1) 0%,
    rgba(255, 205, 245, 1) 35%,
    rgba(255, 205, 245, 1) 63%,
    rgba(232, 163, 255, 1) 100%
  );
}
aside {
  position: sticky;
  top: 0px;
  background-color: #23272a;
  color: #ffffff;
}
.aside-sticky {
  position: sticky;
  top: 5%;
  margin-left: 5%;
  margin-right: 2.5%;
}
aside {
  grid-area: aside;

  position: sticky;
  top: 0px;
  background-color: #23272a;
  color: #ffffff;
}
aside .aside-nav ul {
  margin: 0rem;
  padding: 0rem;
}
.icons-size {
  width: 17px !important;
  height: 17px !important;
}
main {
  grid-area: main;
  background-color: #2c2f33;
  width: 100%;
  height: auto;
  color: #ffffff;
}
main .main-header {
  margin-right: 3%;
  margin-left: 2.5%;
}
main #profile-pic {
  display: inline-flex;
  width: 30%;
  color: #ffffff4e;
}
main ul {
  padding-left: 0rem;
}
main li {
  margin-left: 5%;
  margin-right: 10%;

  text-align: center;
}
.school-container {
  /* border: 1px solid rgba(255, 255, 255, 0.596); */
  display: flexbox;
}
.xp-container {
  display: block;
}
.xpbar {
  display: inline-flex;
  margin-left: 0;
  height: 1.4rem;
  width: 30%;
  background-color: rgb(215, 239, 255);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0.3rem;
}
main h3 {
  margin-bottom: 0rem;
  display: block;
}
#xpbar-1 {
  background-color: rgb(11, 170, 83);
  height: 100%;
  width: 60%;
  border-radius: 0.3rem;
}
#xpbar-1,
#xpbar-2,
#xpbar-3,
#xpbar-4 {
  background-color: rgb(11, 170, 83);
  height: 100%;
  width: 100%;
  border-radius: 0.3rem;
}
#xpbar-5 {
  background-color: rgb(11, 170, 83);
  height: 100%;
  width: 55%;
  border-radius: 0.3rem;
}
#xpbar-6,
#xpbar-7,
#xpbar-8 {
  background-color: rgb(48, 48, 48);
  height: 100%;
  width: 100%;
  border-radius: 0.3rem;
}
.portfol-container {
}
.box-container {
  display: inline-flex;
  max-width: 24.3%;
}
.portfol-item {
  background-color: #0222319c;

  padding: 2%;
  height: 19rem;
  width: 100%;
  border: 1px solid rgb(232, 163, 255, 15%);
  border-radius: 0.2rem;
}

.portfol-item p,
.portfol-item h3 {
  text-align: center;
}
.portfol-item p {
  height: 9rem;
}
.portfol-list-container {
  display: flexbox;
}
.portfol-list {
  align-items: flex-end;
  padding: 0rem;
  margin: 0rem;
}
li {
  text-decoration: none;
  list-style: none;
}
#email {
  font-size: 18px;
}
a:hover {
  text-decoration: underline;
  background-color: rgba(255, 230, 148, 0.212);
}
a {
  text-decoration: none;
  color: rgb(180, 172, 255);
}
aside a {
  color: rgb(180, 172, 255);
}
#time-till-graduation {
  color: green;
}

aside p a {
  margin-left: 2%;
}
@media only screen and (max-width: 768px) {
  h3 {
    font-size: 16px;
  }
  .xpbar {
    width: 80%;
  }
  .box-container {
    display: flex;
    max-width: 100%;
  }
  .portfol-item {
  }
  .portfol-box {
  }
  #footer-mail {
    font-size: 16px;
  }
}
/* Spinning logo test */
.spinning-logo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.spinning-logo img {
  height: 50px;
  width: 50px;
  animation: spin 6s linear infinite;
  opacity: 0.3;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 400px) {
  #footer-mail {
    font-size: 14px;
  }
  header h1 {
    font-size: 20px;
  }
  main #profile-pic {
    width: 60%;
  }
  .spinning-logo img {
    height: 20px;
    width: 20px;
  }
  .grid-container {
    grid-template-areas:
      "header header header header header"
      "aside aside main main main"
      "aside aside main main main"
      "aside aside main main main"
      "aside aside main main main";
  }
  li .github-url {
    display: inline-block;
    max-width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 12px;
  }
}
@media only screen and (max-width: 768px) {
  #footer-mail {
    font-size: 14px;
  }
  header h1 {
    font-size: 20px;
  }
  main #profile-pic {
    width: 60%;
  }
  .spinning-logo img {
    height: 20px;
    width: 20px;
  }
  .grid-container {
    grid-template-areas:
      "header header header header header"
      "aside aside main main main"
      "aside aside main main main"
      "aside aside main main main"
      "aside aside main main main";
  }

  li .github-url {
    display: inline-block;
    max-width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 12px;
  }
}
